.category {
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    margin-top: 2vh;
    padding-bottom: 1vh;
}

.home-main-article {
    background-color: #Fff5ef;
}

.home-main-article > div > strong {
    color: darkred !important;
}

.home-main-article > div > a {
    color: darkred !important;
}

.comment-number-container {
    width: 60px;
    height: 60px;
    background-color: #D1C1E0;
    font-size: 20px;
    border-radius: 100px;
}

