<!DOCTYPE html>
<meta charset="utf-8">

@{
    ViewData["Title"] = "Statistics";
}

<head>
    <link rel="stylesheet" href="~/css/statistics-graph.css">
</head>

<body>
<h2>Statistics</h2>
<div id="statistics-graph"></div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/statistics.js"></script>
</body>
