@{
    ViewBag.Title = "Articles' Location";
}

<h2>@ViewBag.Title</h2>


@section Scripts
{
<script type="text/javascript">
    
</script>
<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>
}
