@{
    ViewData["Title"] = "Add Enters Amount";
}

<h2>@ViewData["Title"]</h2>

<p>"The cuurent enters amount is: " @ViewData["EntersAmount"]</p>
<p>"The oldest man alive is: " @ViewData["OldestManName"]</p>